@charset "utf-8";
/* 公用样式总入口 */
@import "normalize_v8.0.1.css";
/* less变量定义
 * @Author: ShiHuiJun 
 * @Date: 2020-06-09 14:45:01 
 * @Last Modified by: ShiHuiJun
 * @Last Modified time: 2020-08-05 11:07:31
 */
/* -------------------- 主题色-开始 -------------------- */
/* -------------------- 主题色-结束 -------------------- */
/* -------------------- 文字设置-开始 -------------------- */
/* -------------------- 文字设置-结束 -------------------- */
/* -------------------- 背景颜色-开始 -------------------- */
/* -------------------- 背景颜色-结束 -------------------- */
/* -------------------- 边框设置-开始 -------------------- */
/* -------------------- 边框设置-结束 -------------------- */
/* -------------------- 高度|宽度-开始 -------------------- */
/* -------------------- 高度|宽度-结束 -------------------- */
/* el-table-theme 参数说明
 * @color 表格文字颜色
 * @color_thead 表头文字颜色
 * @bg_thead 表头背景颜色
 * @bg_td_focus 单元格聚焦背景颜色
 * @border_color_divider 单元格底部线颜色
 */
/* el-table--size 参数说明
 * @font_Size 字体大小
 * @thead_h 表头行高
 * @tr_h 表格行高
 */
.shj-el-table .el-table {
  color: #595959;
  border-radius: 5px;
}
.shj-el-table .el-table thead tr {
  border-bottom-width: 0;
}
.shj-el-table .el-table thead tr th {
  font-weight: bold;
  color: #333333;
  background-color: #ebecec;
  padding: 0;
  text-align: center;
}
.shj-el-table .el-table tbody .el-table__row--striped td {
  background: #f5f5f5;
}
.shj-el-table .el-table tbody tr td {
  padding: 0;
  border-bottom: 1px solid #e9e9e9;
}
.shj-el-table .el-table tbody tr td .cell .el-button {
  padding: 0 10px;
}
.shj-el-table .el-table tbody tr td .cell span:hover,
.shj-el-table .el-table tbody tr td .cell div:hover {
  opacity: 0.7;
}
.shj-el-table .el-table {
  font-size: 22px;
}
.shj-el-table .el-table thead tr {
  height: 65px;
  line-height: 65px;
}
.shj-el-table .el-table tbody tr {
  height: 65px;
  line-height: 65px;
}
.shj-el-table .el-table tbody tr td .cell .el-button {
  font-size: 22px;
}
/* element-ui样式
 * @Author: ShiHuiJun 
 * @Date: 2020-03-12 17:05:59 
 * @Last Modified by: ShiHuiJun
 * @Last Modified time: 2020-06-09 14:26:08
 */
.el-message {
  font-size: 22px;
}
.el-tabs .el-tabs__header {
  margin: 0 0 19px;
}
.el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__active-bar {
  height: 2px;
  background-color: #409eff;
}
.el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
}
.el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item.is-active {
  color: #409eff;
}
.el-tabs .el-tabs__content {
  font-size: 20px;
}
.el-form .el-form-item {
  margin: 0 10px 25px 0;
}
.el-form .el-form-item .el-form-item__label {
  vertical-align: middle;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 0;
}
.el-form .el-form-item .el-form-item__content {
  vertical-align: middle;
  font-size: 20px;
  line-height: 40px;
}
.el-form .el-form-item .el-form-item__content .el-form-item__error {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  padding-top: 0;
}
.el-input {
  font-size: 20px;
}
.el-input .el-input__inner {
  border-radius: 5px;
  font-size: 20px;
  padding: 0 30px 0 15px;
  height: 40px;
  line-height: 40px;
}
.el-input .el-input__icon {
  height: 40px;
  line-height: 40px;
  width: 25px;
}
.el-input .el-input__suffix {
  right: 5px;
}
.el-input .el-input__suffix .el-input__icon {
  width: 25px;
  height: 40px;
  line-height: 40px;
}
.el-input .el-input__suffix .el-input__suffix-inner .el-input__icon {
  font-size: 20px;
}
.el-date-editor {
  width: 100%;
}
.el-date-editor .el-input__inner {
  padding-left: 40px;
}
.el-range-editor.el-input__inner {
  width: 100%;
  border-radius: 5px;
  padding: 3px 10px;
  line-height: 40px;
  height: 40px;
}
.el-range-editor .el-range__icon {
  line-height: 30px;
  font-size: 20px;
  margin-left: -5px;
}
.el-range-editor .el-range-input {
  font-size: 20px;
  line-height: 40px;
}
.el-range-editor .el-range-separator {
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  font-size: 20px;
}
.el-picker-panel .el-date-range-picker__time-header .el-input .el-input__inner {
  font-size: 16px;
}
.el-picker-panel .el-picker-panel__content .el-date-range-picker__header div {
  font-size: 16px;
}
.el-picker-panel .el-picker-panel__content .el-date-table {
  font-size: 16px;
}
.el-select {
  width: 100%;
  line-height: 40px;
  height: 40px;
}
.el-scrollbar {
  text-align: left;
}
.el-scrollbar .el-select-dropdown__item {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.el-radio .el-radio__input .el-radio__inner {
  width: 24px;
  height: 24px;
}
.el-radio .el-radio__label {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.el-radio-group {
  height: 40px;
  line-height: 40px;
  width: 100%;
}
.el-checkbox .el-checkbox__label {
  font-size: 20px;
}
.el-checkbox .el-checkbox__input .el-checkbox__inner {
  width: 24px;
  height: 24px;
}
.el-checkbox .el-checkbox__input .el-checkbox__inner::after {
  height: 14px;
  width: 6px;
  left: 7px;
}
.el-checkbox-group .el-checkbox {
  margin-right: 140px;
}
.el-checkbox-group .el-checkbox:nth-child(3n + 0) {
  margin-right: 0;
}
.el-textarea {
  font-size: 20px;
}
.el-textarea .el-textarea__inner {
  height: 80px;
}
.el-tag {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  border-radius: 5px;
  border-width: 1px;
}
.el-tag .el-icon-close {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  top: 0;
  right: -5px;
}
.el-cascader {
  font-size: 20px;
  line-height: 40px;
  width: 100%;
}
.upload .el-upload-list--picture-card .el-upload-list__item {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 0 30px 10px 0;
}
.upload .el-upload-list--picture-card .el-upload-list__item:nth-child(3n + 0) {
  margin-right: 0;
}
.upload .el-upload--picture-card {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 5px;
  border: 1px dashed #c0ccda;
}
.upload .el-upload--picture-card .el-icon-plus {
  font-size: 24px;
}
.upload .el-upload--picture-card:hover,
.upload .el-upload:focus {
  border: 1px dashed #409eff;
}
.upload .disabled .el-upload--picture-card {
  display: none;
}
.upload .el-upload .el-upload-dragger {
  width: 360px;
  height: 180px;
}
.upload .el-upload .el-upload-dragger .el-icon-upload {
  font-size: 67px;
  line-height: 50px;
  margin: 40px 0 16px 0;
}
.upload .el-upload .el-upload-dragger .el-upload__text {
  font-size: 20px;
}
.upload .el-upload__tip {
  font-size: 20px;
  margin-top: 7px;
}
.upload .el-upload-list .el-upload-list__item {
  font-size: 20px;
  margin-top: 10px;
}
.upload .el-upload-list .el-upload-list__item .el-upload-list__item-name {
  margin-right: 40px;
  padding-left: 4px;
}
.upload .el-upload-list .el-upload-list__item .el-upload-list__item-name .el-icon-document {
  margin-right: 7px;
}
.upload .el-upload-list .el-upload-list__item .el-upload-list__item-status-label {
  right: 5px;
}
.upload .el-upload-list .el-upload-list__item .el-icon-close,
.upload .el-upload-list .el-upload-list__item .el-icon-close-tip {
  top: 5px;
  right: 5px;
  font-size: 20px;
}
.confirm-success .el-message-box__status {
  font-size: 24px !important;
}
.confirm-success .el-message-box__header .el-message-box__title {
  font-size: 24px;
}
.confirm-success .el-message-box__header .el-message-box__headerbtn .el-message-box__close {
  font-size: 24px;
}
.confirm-success .el-message-box__status + .el-message-box__message {
  padding: 0 10px 0 35px;
}
.confirm-success .el-message-box__content {
  font-size: 20px;
  padding: 10px 15px;
}
.confirm-success .el-message-box__content .el-message-box__message {
  font-size: 20px;
}
.confirm-success .el-message-box__content .el-message-box__message p {
  line-height: 24px;
}
.confirm-success .el-message-box__content .el-message-box__input {
  padding-top: 15px;
}
.confirm-success .el-message-box__content .el-message-box__input .el-input {
  font-size: 20px;
}
.confirm-success .el-message-box__content .el-message-box__input .el-input .el-input__inner {
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #dcdfe6;
}
.confirm-success .el-message-box__content .el-message-box__input .el-message-box__errormsg {
  font-size: 20px;
}
.confirm-success .el-message-box__btns {
  padding: 10px 15px 0;
}
.confirm-success .el-message-box__btns button:nth-child(2) {
  margin-left: 10px;
}
.confirm-success .el-message-box__btns .el-button {
  font-size: 20px;
}
.confirm-success .el-message-box__btns .el-button--small {
  font-size: 20px;
  padding: 10px 15px;
}
/* 表单
 * @Author: ShiHuiJun 
 * @Date: 2020-03-12 17:06:06 
 * @Last Modified by: ShiHuiJun
 * @Last Modified time: 2020-08-11 13:50:00
 */
/* 表单页面 */
.form-body .el-form .el-form-item .el-form-item__content .line {
  text-align: center;
  font-size: 20px;
}
.form-body .el-form .el-form-item .el-form-item__content .image .el-image {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 0 30px 10px 0;
}
.form-body .el-form .el-form-item .el-form-item__content .image .el-image:nth-child(3n + 0) {
  margin-right: 0;
}
.form-body .el-form .el-form-item .el-form-item__content .textarea .el-textarea__inner {
  height: 200px;
}
.form-body .el-form .el-form-item .el-form-item__content .form-input.hide {
  opacity: 0;
  position: relative;
}
.form-body .el-form .el-form-item .el-form-item__content .form-span {
  position: absolute;
  left: 0;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  display: inline-block;
  width: 225px;
  height: 40px;
  overflow-y: auto;
}
.form-body .el-form .el-form-item .el-form-item__content .form-button {
  position: absolute;
  right: 0;
  font-size: 20px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: none;
  color: #fff;
}
.form-body .el-form .el-form-item .el-form-item__content .form-view {
  line-height: 40px;
  border-radius: 5px;
  padding: 0 15px;
  background: #eeeeee;
}
.form-body .el-form .el-form-item .el-form-item__content .form-view a {
  display: block;
  width: 100%;
}
.form-body .el-form .el-form-item .el-form-item__content .form-content {
  height: 100px;
  overflow-y: auto;
  word-wrap: break-word;
}
.form-body .el-form .el-form-item .el-form-item__content .form-content.small {
  height: 100px;
}
.form-body .el-form .el-form-item .el-form-item__content .form-content .middle {
  height: 300px;
}
.form-body .el-form .el-form-item .el-form-item__content .form-content .big {
  height: 500px;
}
/* 弹窗表单 */
.alert-box {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
}
.alert-box .alert-box-body {
  background: #fff;
  width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert-box.wider {
  width: 1300px;
}
.alert-box .form-body {
  max-height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
}
.alert-box .form-body .tableContent {
  height: 500px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.alert-box .form-body .tableContent .el-table {
  color: #595959;
  border-radius: 5px;
}
.alert-box .form-body .tableContent .el-table thead tr {
  border-bottom-width: 0;
}
.alert-box .form-body .tableContent .el-table thead tr th {
  font-weight: bold;
  color: #333333;
  background-color: #ebecec;
  padding: 0;
  text-align: center;
}
.alert-box .form-body .tableContent .el-table tbody .el-table__row--striped td {
  background: #f5f5f5;
}
.alert-box .form-body .tableContent .el-table tbody tr td {
  padding: 0;
  border-bottom: 1px solid #e9e9e9;
}
.alert-box .form-body .tableContent .el-table tbody tr td .cell .el-button {
  padding: 0 10px;
}
.alert-box .form-body .tableContent .el-table tbody tr td .cell span:hover,
.alert-box .form-body .tableContent .el-table tbody tr td .cell div:hover {
  opacity: 0.7;
}
.alert-box .form-body .tableContent .el-table {
  font-size: 20px;
}
.alert-box .form-body .tableContent .el-table thead tr {
  height: 50px;
  line-height: 50px;
}
.alert-box .form-body .tableContent .el-table tbody tr {
  height: 50px;
  line-height: 50px;
}
.alert-box .form-body .tableContent .el-table tbody tr td .cell .el-button {
  font-size: 20px;
}
.alert-box .form-body .tablePagination {
  position: unset;
  right: unset;
  left: unset;
  bottom: unset;
}
/* -------------------- 布局-开始 -------------------- */
.main {
  width: 100%;
  height: 100%;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.container {
  width: 100%;
}
.list {
  width: 100%;
}
.content {
  width: 100%;
}
/* -------------------- 布局-结束 -------------------- */
/* -------------------- 盒子-开始 -------------------- */
.box {
  border: 1px solid #0072ff;
  border-radius: 5px;
  background: #0c2a96;
}
.area {
  border: 1px solid rgba(151, 151, 151, 0.6);
  border-radius: 5px;
  background: rgba(0, 24, 113, 0.6);
}
/* -------------------- 盒子-结束 -------------------- */
/* -------------------- 按钮-开始 -------------------- */
.shj-btn {
  color: #409eff;
  border: 2px solid #409eff;
  border-radius: 5px;
  background: transparent;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-appearance: none;
  /* 去除系统默认appearance的样式 */
  -moz-user-select: none;
  /* 文本不能被选择 */
  -webkit-user-select: none;
  /* 文本不能被选择 */
  -ms-user-select: none;
  /* 文本不能被选择 */
}
.shj-btn--primary {
  color: #fff;
  border: 2px solid #409eff;
  border-radius: 5px;
  background: #409eff;
}
.shj-btn--success {
  color: #fff;
  border: 2px solid #67c23a;
  border-radius: 5px;
  background: #67c23a;
}
.shj-btn--info {
  color: #fff;
  border: 2px solid #909399;
  border-radius: 5px;
  background: #909399;
}
.shj-btn--warning {
  color: #fff;
  border: 2px solid #e6a23c;
  border-radius: 5px;
  background: #e6a23c;
}
.shj-btn--danger {
  color: #fff;
  border: 2px solid #f56c6c;
  border-radius: 5px;
  background: #f56c6c;
}
.shj-button--medium {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 20px;
}
.shj-button--small {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 9px 15px;
}
.shj-button--mini {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 7px 15px;
}
/* -------------------- 按钮-结束 -------------------- */
* {
  box-sizing: border-box;
}
/* 一般公共样式书写 */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow-y: hidden;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
textarea {
  border: 0;
  outline: none;
}
button {
  outline: none;
}
i {
  font-style: normal;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #333;
  text-decoration: none;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* body{
    font-size: 12px;
} */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.hidden {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*文字溢出...*/
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* 系统公共样式书写 */
.content-page {
  box-shadow: 0 0 20px 1px #e9e9e9;
  height: 100%;
  background: #fff;
  overflow: auto;
  position: relative;
}
.btn-box {
  height: 40px;
  line-height: 40px;
  display: inline-block;
}
.btn-box button:not(:first-child),
.btn-box span:not(:first-child) {
  margin-left: 20px;
}
/* 字体图标 */
.i-box {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  padding-left: 40px;
}
.i-box:not(:first-child) {
  margin-left: 20px;
}
.i-box i {
  position: absolute;
  display: inline-block;
  font-size: 35px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.icon-box {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  width: 100%;
}
.icon-box i {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: 100% 100%;
}
.vertical-middle-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.vertical-middle-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.vertical-horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 视频播放 */
.video-player .video-js {
  font-size: 20px;
  width: 1024px;
  height: 576px;
}
.video-box .video-player .video-js {
  font-size: 20px;
  width: 1024px;
  height: 576px;
}
/* 自定义图标 */
.i-phone {
  background: url("");
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.i-user {
  background: url("");
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
/* 背景色 */
.bg-color-primary {
  background: #409eff;
}
.bg-color-error {
  background: #f56c6c;
}
.bg-color-cancel {
  background: #909399;
}
.bg-color-black {
  background: #002140;
}
/* 字体颜色 */
.font-color-primary {
  color: #409eff;
}
.font-color-error {
  color: #f56c6c;
}
.font-color-cancel {
  color: #909399;
}
.font_color {
  color: #333333;
}
