/* less变量定义
 * @Author: ShiHuiJun 
 * @Date: 2020-06-09 14:45:01 
 * @Last Modified by: ShiHuiJun
 * @Last Modified time: 2020-08-05 11:07:31
 */
/* -------------------- 主题色-开始 -------------------- */
/* -------------------- 主题色-结束 -------------------- */
/* -------------------- 文字设置-开始 -------------------- */
/* -------------------- 文字设置-结束 -------------------- */
/* -------------------- 背景颜色-开始 -------------------- */
/* -------------------- 背景颜色-结束 -------------------- */
/* -------------------- 边框设置-开始 -------------------- */
/* -------------------- 边框设置-结束 -------------------- */
/* -------------------- 高度|宽度-开始 -------------------- */
/* -------------------- 高度|宽度-结束 -------------------- */
